In [86]:
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

### 1 GENERATE DATA
iris = datasets.load_iris()

In [58]:
iris

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': 'Iris Plants Database\n====================\n\nNotes\n-----\nData Set Characteristics:\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20  0.76     0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThis is a copy of UCI ML iris datasets.\nhttp://archive.ics.uci.edu/ml/datasets/Iris\n\nThe famous Iris database, first used by Sir R.A Fisher\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\nReferences\n----------\n   - Fisher,R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda,R.O., & Hart,P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...\n',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)']}

In [60]:
X = iris.data
y = iris.target

In [61]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [7]:
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2)

In [8]:
X_train

array([[4.5, 2.3, 1.3, 0.3],
       [6.7, 3.3, 5.7, 2.1],
       [5.6, 2.5, 3.9, 1.1],
       [4.8, 3. , 1.4, 0.3],
       [7.2, 3.2, 6. , 1.8],
       [5.4, 3.4, 1.5, 0.4],
       [6.7, 3.1, 4.4, 1.4],
       [5.7, 4.4, 1.5, 0.4],
       [6.1, 2.8, 4. , 1.3],
       [5.1, 3.5, 1.4, 0.2],
       [5.8, 4. , 1.2, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [6.1, 3. , 4.9, 1.8],
       [5.7, 2.8, 4.1, 1.3],
       [6.9, 3.1, 5.4, 2.1],
       [5. , 3.4, 1.6, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.4, 3. , 4.5, 1.5],
       [6.4, 2.7, 5.3, 1.9],
       [4.8, 3.4, 1.6, 0.2],
       [6.5, 3. , 5.5, 1.8],
       [5.7, 2.9, 4.2, 1.3],
       [4.6, 3.2, 1.4, 0.2],
       [5.5, 2.5, 4. , 1.3],
       [4.7, 3.2, 1.6, 0.2],
       [7.3, 2.9, 6.3, 1.8],
       [6.5, 2.8, 4.6, 1.5],
       [6.4, 2.8, 5.6, 2.2],
       [7.1, 3. , 5.9, 2.1],
       [5.4, 3.9, 1.7, 0.4],
       [7.7, 2.6, 6.9, 2.3],
       [5.5, 3.5, 1.3, 0.2],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 3.9, 1.2],
       [6.2, 3.4, 5.4, 2.3],
       [5.1, 3.8, 1.5, 0.3],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.6, 1.4],
       [7.2, 3.6, 6.1, 2.5],
       [6.3, 2.9, 5.6, 1.8],
       [5.5, 4.2, 1.4, 0.2],
       [6.6, 3. , 4.4, 1.4],
       [6.5, 3.2, 5.1, 2. ],
       [6.7, 2.5, 5.8, 1.8],
       [6.3, 2.5, 4.9, 1.5],
       [5.5, 2.4, 3.8, 1.1],
       [4.8, 3. , 1.4, 0.1],
       [4.9, 2.4, 3.3, 1. ],
       [5.1, 3.4, 1.5, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [6.3, 3.3, 6. , 2.5],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.7, 3.1, 4.7, 1.5],
       [5.8, 2.6, 4. , 1.2],
       [6.4, 3.2, 5.3, 2.3],
       [6.4, 2.8, 5.6, 2.1],
       [4.6, 3.4, 1.4, 0.3],
       [5.1, 3.5, 1.4, 0.3],
       [6.8, 2.8, 4.8, 1.4],
       [5.6, 2.8, 4.9, 2. ],
       [5. , 2. , 3.5, 1. ],
       [5.5, 2.6, 4.4, 1.2],
       [6.4, 3.1, 5.5, 1.8],
       [5. , 2.3, 3.3, 1. ],
       [5.7, 2.6, 3.5, 1. ],
       [6.5, 3. , 5.8, 2.2],
       [5.2, 2.7, 3.9, 1.4],
       [5.5, 2.3, 4. , 1.3],
       [5. , 3. , 1.6, 0.2],
       [4.8, 3.4, 1.9, 0.2],
       [6. , 2.2, 5. , 1.5],
       [5.4, 3.9, 1.3, 0.4],
       [5.9, 3. , 5.1, 1.8],
       [6.1, 2.9, 4.7, 1.4],
       [5.5, 2.4, 3.7, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [4.9, 3.1, 1.5, 0.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.6, 3. , 6.6, 2.1],
       [6.1, 2.8, 4.7, 1.2],
       [5.1, 2.5, 3. , 1.1],
       [6.3, 2.3, 4.4, 1.3],
       [5. , 3.2, 1.2, 0.2],
       [5.1, 3.8, 1.9, 0.4],
       [5.8, 2.7, 4.1, 1. ],
       [6. , 2.7, 5.1, 1.6],
       [6.2, 2.9, 4.3, 1.3],
       [5. , 3.6, 1.4, 0.2],
       [4.4, 3. , 1.3, 0.2],
       [6. , 3.4, 4.5, 1.6],
       [4.9, 3. , 1.4, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [6.3, 2.8, 5.1, 1.5],
       [5.4, 3.7, 1.5, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [6. , 2.2, 4. , 1. ],
       [5.1, 3.3, 1.7, 0.5],
       [6.7, 3. , 5.2, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 5.1, 1.9],
       [5.8, 2.7, 5.1, 1.9],
       [5.6, 2.9, 3.6, 1.3],
       [5.1, 3.7, 1.5, 0.4],
       [5.9, 3. , 4.2, 1.5],
       [7.9, 3.8, 6.4, 2. ],
       [6. , 3. , 4.8, 1.8],
       [6.3, 3.4, 5.6, 2.4],
       [5.9, 3.2, 4.8, 1.8],
       [4.8, 3.1, 1.6, 0.2],
       [5.6, 3. , 4.1, 1.3],
       [4.6, 3.1, 1.5, 0.2],
       [5.8, 2.8, 5.1, 2.4],
       [7.4, 2.8, 6.1, 1.9],
       [6.3, 2.7, 4.9, 1.8],
       [4.3, 3. , 1.1, 0.1],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 3.4, 1.4, 0.2],
       [4.4, 2.9, 1.4, 0.2]])

In [11]:
model=LogisticRegression()

In [14]:
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [18]:
y_pred= model.predict(X_test)
print(X_test, y_pred)

[[5.3 3.7 1.5 0.2]
 [5.4 3.4 1.7 0.2]
 [4.4 3.2 1.3 0.2]
 [7.7 3.  6.1 2.3]
 [6.3 2.5 5.  1.9]
 [5.2 4.1 1.5 0.1]
 [6.2 2.2 4.5 1.5]
 [6.8 3.  5.5 2.1]
 [6.  2.9 4.5 1.5]
 [5.7 2.8 4.5 1.3]
 [6.8 3.2 5.9 2.3]
 [7.7 3.8 6.7 2.2]
 [5.7 2.5 5.  2. ]
 [7.2 3.  5.8 1.6]
 [6.1 2.6 5.6 1.4]
 [6.3 3.3 4.7 1.6]
 [6.4 2.9 4.3 1.3]
 [6.9 3.2 5.7 2.3]
 [7.7 2.8 6.7 2. ]
 [5.  3.4 1.5 0.2]
 [5.2 3.5 1.5 0.2]
 [5.7 3.8 1.7 0.3]
 [5.7 3.  4.2 1.2]
 [6.5 3.  5.2 2. ]
 [6.7 3.1 5.6 2.4]
 [6.7 3.  5.  1.7]
 [6.4 3.2 4.5 1.5]
 [5.  3.5 1.3 0.3]
 [6.9 3.1 4.9 1.5]
 [5.1 3.8 1.6 0.2]] [0 0 0 2 2 0 1 2 1 1 2 2 2 1 2 1 1 2 2 0 0 0 1 2 2 1 1 0 1 0]

In [68]:
accuracy=accuracy_score(y_pred, y_test)
print(accuracy)

NameError: name 'y_pred' is not defined

HOMEWORK N°2

In [73]:
import pandas as pd
df = pd.read_csv('ks-projects-201612.csv', encoding = "ISO-8859-1")

C:\Users\PC\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [66]:
df.columns
df.dtypes
df.columns = df.columns.astype('str')

Index(['ID ', 'name ', 'category ', 'main_category ', 'currency ', 'deadline ',
       'goal ', 'launched ', 'pledged ', 'state ', 'backers ', 'country ',
       'usd pledged ', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16'],
      dtype='object')

In [74]:
df=df[df[df.columns[9]]!='canceled']

In [83]:
df

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,NaN
5,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21 18:30:44,1000,2014-12-01 18:30:44,1205,successful,16,US,1205,NaN,NaN,NaN,NaN
6,1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Drinks,Food,USD,2016-03-17 19:05:12,25000,2016-02-01 20:05:12,453,failed,40,US,453,NaN,NaN,NaN,NaN
9,100004721,Of Jesus and Madmen,Nonfiction,Publishing,CAD,2013-10-09 18:19:37,2500,2013-09-09 18:19:37,0,failed,0,CA,0,NaN,NaN,NaN,NaN
10,100005484,Lisa Lim New CD!,Indie Rock,Music,USD,2013-04-08 06:42:58,12500,2013-03-09 06:42:58,12700,successful,100,US,12700,NaN,NaN,NaN,NaN
11,1000055792,The Cottage Market,Crafts,Crafts,USD,2014-10-02 17:11:50,5000,2014-09-02 17:11:50,0,failed,0,US,0,NaN,NaN,NaN,NaN
12,1000056157,G-Spot Place for Gamers to connect with eachot...,Games,Games,USD,2016-03-25 22:01:12,200000,2016-02-09 23:01:12,0,failed,0,US,0,NaN,NaN,NaN,NaN
13,1000064368,Survival Rings,Design,Design,USD,2015-02-28 02:10:53,2500,2015-01-29 02:10:53,664,failed,11,US,664,NaN,NaN,NaN,NaN
14,1000064918,The Beard,Comic Books,Comics,USD,2014-11-08 22:27:52,1500,2014-10-09 22:27:52,395,failed,16,US,395,NaN,NaN,NaN,NaN
15,1000068480,Notes From London: Above & Below,Art Books,Publishing,USD,2015-05-10 21:20:54,3000,2015-04-10 21:20:54,789,failed,20,US,789,NaN,NaN,NaN,NaN
16,1000070642,Mike Corey's Darkness & Light Album,Music,Music,USD,2012-08-17 14:11:32,250,2012-08-02 14:11:32,250,successful,7,US,250,NaN,NaN,NaN,NaN
17,1000071625,Boco Tea,Food,Food,USD,2012-06-02 17:24:32,5000,2012-05-03 17:24:32,1781,failed,40,US,1781,NaN,NaN,NaN,NaN
18,1000072011,CMUK. Shoes: Take on Life Feet First.,Fashion,Fashion,USD,2013-12-30 07:06:11,20000,2013-11-25 07:06:11,34268,successful,624,US,34268,NaN,NaN,NaN,NaN
19,1000082254,Alice in Wonderland in G Minor,Theater,Theater,USD,2014-06-15 10:09:03,3500,2014-05-16 10:10:38,650,failed,12,US,650,NaN,NaN,NaN,NaN
20,1000087442,Mountain brew: A quest for alcohol sustainability,Drinks,Food,NOK,2015-02-25 19:17:33,500,2015-01-26 19:17:33,48,failed,3,NO,6.18000816,NaN,NaN,NaN,NaN
21,1000091520,The Book Zoo - A Mini-Comic,Comics,Comics,USD,2014-11-12 17:15:50,175,2014-10-23 17:15:50,701.66,successful,66,US,701.66,NaN,NaN,NaN,NaN
22,1000102741,Matt Cavenaugh & Jenny Powers make their 1st a...,Music,Music,USD,2011-01-06 23:16:50,10000,2010-12-07 23:16:50,15827,successful,147,US,15827,NaN,NaN,NaN,NaN
23,1000103948,Superhero Teddy Bear,DIY,Crafts,GBP,2016-01-05 20:09:06,12000,2015-12-06 20:09:06,0,failed,0,GB,0,NaN,NaN,NaN,NaN
24,1000104688,Permaculture Skills,Webseries,Film & Video,CAD,2014-12-14 18:02:00,17757,2014-11-14 18:02:00,48905,successful,571,CA,43203.2511447,NaN,NaN,NaN,NaN
25,1000104953,Rebel Army Origins: The Heroic Story Of Major ...,Comics,Comics,GBP,2016-01-28 16:59:29,100,2015-12-29 16:59:29,112.38,successful,27,GB,167.7003057894,NaN,NaN,NaN,NaN
26,1000115172,Daily Brew Coffee,Food Trucks,Food,GBP,2015-03-31 18:06:32,3500,2015-03-01 18:06:32,21,failed,1,GB,32.41526106,NaN,NaN,NaN,NaN
27,1000117861,Ledr workbook: one tough journal!,Product Design,Design,USD,2016-10-08 02:00:00,1000,2016-09-07 13:14:26,47266,successful,549,US,11253,NaN,NaN,NaN,NaN
28,1000120151,Feather Cast Furled Fly Fishing Leaders,Product Design,Design,AUD,2015-08-22 03:09:43,2000,2015-07-23 03:09:43,2000,successful,18,AU,1473.6189,NaN,NaN,NaN,NaN
29,1000120287,BB130A,Public Art,Art,USD,2013-03-24 00:07:28,25000,2013-02-12 01:07:28,1395,failed,30,US,1395,NaN,NaN,NaN,NaN
30,100012079,Chris Eger Band - New Nashville Record!,Music,Music,USD,2014-08-13 08:59:00,12000,2014-07-14 22:35:51,13260,successful,92,US,13260,NaN,NaN,NaN,NaN
31,1000129669,Squatch Watchers,Webseries,Film & Video,USD,2013-08-23 21:40:13,10000,2013-07-24 21:40:13,1373.37,failed,54,US,1373.37,NaN,NaN,NaN,NaN
32,1000131947,Arrows & Sound Debut Album,Indie Rock,Music,USD,2012-05-19 01:04:31,4000,2012-04-19 01:04:31,8641.34,successful,157,US,8641.34,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323713,999780798,Green City Times,Web,Journalism,USD,2016-08-28 05:27:43,5000,2016-07-29 05:27:43,11,failed,3,US,0,NaN,NaN,NaN,NaN
323714,99978792,"Join the Fearless Movement, Andre Leneal's Deb...",Pop,Music,USD,2014-03-08 06:00:00,10000,2014-01-27 09:25:24,4676,failed,78,US,4676,NaN,NaN,NaN,NaN
323715,999796570,M A V A R I,Apparel,Fashion,USD,2015-01-01 03:00:00,30000,2014-11-30 03:11:48,42647,successful,215,US,42647,NaN,NaN,NaN,NaN
323716,999799441,The Hollywood Kills On Tour,Rock,Music,USD,2012-05-04 23:12:03,10000,2012-03-05 23:12:03,10300,successful,78,US,10300,NaN,NaN,NaN,NaN
323717,999800713,BETTER DESPERATE,Music Videos,Film & Video,USD,2016-05-07 20:04:26,300,2016-04-07 20:04:26,300,successful,5,US,300,NaN,NaN,NaN,NaN
323719,999801508,Competition Finalist,Fashion,Fashion,USD,2013-06-13 01:18:54,4000,2013-05-14 01:18:54,4005,successful,14,US,4005,NaN,NaN,NaN,NaN
323721,999811847,"""100 PHOTOGRAPHS FOR OUR LIBERTIES""",Fine Art,Photography,EUR,2015-12-10 22:06:44,5000,2015-11-25 22:06:44,1574,failed,37,FR,1673.7131361,NaN,NaN,NaN,NaN
323722,999814955,Collinwood Needs Coffee!!!,Restaurants,Food,USD,2014-07-28 13:28:12,12000,2014-06-28 13:28:12,2090,failed,42,US,2090,NaN,NaN,NaN,NaN
323723,999829547,PookieCat rune cards - funny oracle cards for ...,Illustration,Art,EUR,2016-06-07 09:33:08,1500,2016-05-08 09:33:08,1699,successful,39,NL,1937.69716526,NaN,NaN,NaN,NaN
323724,999832803,MONSTROCARDS- A Creative Drawing Game of Horri...,Playing Cards,Games,USD,2014-10-03 19:53:50,10000,2014-09-03 19:53:50,13861.5,successful,413,US,13861.5,NaN,NaN,NaN,NaN
323725,99984851,"""Loreto""",Comedy,Film & Video,USD,2014-06-05 06:00:00,12000,2014-05-06 23:50:34,0,failed,0,US,0,NaN,NaN,NaN,NaN
323726,999865831,STATE OF G - Men's Blazer Jacket & Women's Car...,Apparel,Fashion,USD,2014-12-13 04:00:00,25000,2014-11-13 17:16:17,11643,failed,97,US,11643,NaN,NaN,NaN,NaN
323727,999867839,Transcaucasia,Photography,Photography,USD,2011-01-08 02:43:59,4000,2010-11-08 02:43:59,3531,failed,37,US,3531,NaN,NaN,NaN,NaN
323728,99987261,"You're Not Cis, You Just Think You Are: My Enb...",Nonfiction,Publishing,USD,2015-09-24 22:37:14,800,2015-08-25 22:37:14,70,failed,5,US,70,NaN,NaN,NaN,NaN
323729,999877902,Little Saturday's Debut Album,Country & Folk,Music,CAD,2014-12-17 17:50:12,5000,2014-11-17 17:50:12,5435,successful,78,CA,4814.8774787,NaN,NaN,NaN,NaN
323730,999880710,Terminal Uniqueness,Nonfiction,Publishing,USD,2014-08-15 02:10:39,5000,2014-07-15 02:10:39,18,failed,5,US,18,NaN,NaN,NaN,NaN
323731,999884445,Superette Tea - Boldly Caffeinated Loose Leaf Tea,Drinks,Food,USD,2015-12-03 13:04:14,5000,2015-11-03 13:04:14,5579,successful,103,US,5579,NaN,NaN,NaN,NaN
323733,99991751,Here is the oasis for the youngest in the world.,Product Design,Design,CHF,2015-09-04 18:00:47,80000,2015-07-06 18:00:47,0,failed,0,CH,0,NaN,NaN,NaN,NaN
323735,999934908,The Manual Bar Blade,Product Design,Design,USD,2015-12-15 06:59:00,3500,2015-11-23 07:33:14,6169,successful,120,US,6169,NaN,NaN,NaN,NaN
323736,999941823,The Chronicles of Erinoth - A Graphic Novel,Comics,Comics,GBP,2013-10-10 22:45:26,16000,2013-09-10 22:45:26,2738,failed,38,GB,4281.1485734,NaN,NaN,NaN,NaN
323737,999943841,The Dog Coffee Book,Children's Books,Publishing,USD,2013-11-30 19:03:00,950,2013-10-18 21:35:04,1732.02,successful,31,US,1732.02,NaN,NaN,NaN,NaN
323738,999950812,The Cease is Increase,Nonfiction,Publishing,USD,2012-09-14 17:11:00,4999,2012-08-15 17:11:00,980,failed,16,US,980,NaN,NaN,NaN,NaN
323740,99996661,Date Seat - Boston iOS App,Apps,Technology,USD,2016-09-05 05:59:00,6000,2016-07-29 15:36:29,0,failed,0,US,0,NaN,NaN,NaN,NaN
323741,999969812,AT THE BEACH,Classical Music,Music,CAD,2014-03-22 00:00:16,5000,2014-02-20 01:00:16,5501,successful,78,CA,5019.92088197,NaN,NaN,NaN,NaN
323742,999971898,Beach Wrestling Documentary,Documentary,Film & Video,NOK,2015-04-28 21:30:33,20000,2015-03-29 21:30:33,21500,successful,36,NO,2698.974335,NaN,NaN,NaN,NaN
323743,999972264,Islanda,Documentary,Film & Video,USD,2012-03-16 03:31:10,1700,2012-02-15 04:31:10,25,failed,1,US,25,NaN,NaN,NaN,NaN
323746,999977640,The Tribe,Narrative Film,Film & Video,USD,2011-07-19 03:35:14,1500,2011-06-22 03:35:14,155,failed,5,US,155,NaN,NaN,NaN,NaN
323747,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16 05:59:00,15000,2010-07-01 19:40:30,20,failed,1,US,20,NaN,NaN,NaN,NaN
323748,999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13 02:00:00,15000,2016-01-13 18:13:53,200,failed,6,US,200,NaN,NaN,NaN,NaN
323749,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16 09:07:47,2000,2011-07-19 09:07:47,524,failed,17,US,524,NaN,NaN,NaN,NaN

In [77]:
#y=df.iloc[:,9:10]
y= df[df.columns[9]]
print(y)

0             failed
1             failed
2             failed
4         successful
5         successful
6             failed
9             failed
10        successful
11            failed
12            failed
13            failed
14            failed
15            failed
16        successful
17            failed
18        successful
19            failed
20            failed
21        successful
22        successful
23            failed
24        successful
25        successful
26            failed
27        successful
28        successful
29            failed
30        successful
31            failed
32        successful
             ...
323713        failed
323714        failed
323715    successful
323716    successful
323717    successful
323719    successful
323721        failed
323722        failed
323723    successful
323724    successful
323725        failed
323726        failed
323727        failed
323728        failed
323729    successful
323730        failed
323731    successful
323733        failed
323735    successful
323736        failed
323737    successful
323738        failed
323740        failed
323741    successful
323742    successful
323743        failed
323746        failed
323747        failed
323748        failed
323749        failed
Name: state , Length: 291396, dtype: object

In [78]:
#X = df.drop(df.columns[9], axis=1)
X= df[df.columns[10]]
print(X)

0           0
1           3
2           1
4         224
5          16
6          40
9           0
10        100
11          0
12          0
13         11
14         16
15         20
16          7
17         40
18        624
19         12
20          3
21         66
22        147
23          0
24        571
25         27
26          1
27        549
28         18
29         30
30         92
31         54
32        157
         ...
323713      3
323714     78
323715    215
323716     78
323717      5
323719     14
323721     37
323722     42
323723     39
323724    413
323725      0
323726     97
323727     37
323728      5
323729     78
323730      5
323731    103
323733      0
323735    120
323736     38
323737     31
323738     16
323740      0
323741     78
323742     36
323743      1
323746      5
323747      1
323748      6
323749     17
Name: backers , Length: 291396, dtype: object

In [79]:
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2)

In [84]:
model=LogisticRegression()

In [89]:
y = y.astype(np.float)

ValueError: could not convert string to float: 'failed'

In [91]:
model.fit(X_train, y_train)

ValueError: could not convert string to float: 'failed'

In [90]:
type(y)

pandas.core.series.Series